

/* Preloader start */
.preloader{
    background: #0000009a;
    height: 100vh;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.preloader .load_text{
    color: #fff;
    font-size: 80px;
    text-transform: capitalize;
}
.preloader .dot{
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    display: inline-block;
    margin-top: 50px;
    animation-name: dot;
    animation-delay: 0;
    animation-timing-function: cubic-bezier(.88,-0.41,0,.98);;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    position: relative;
}

@keyframes dot {
    0%{
        left: 0;
        background: red;
    }
    50%{
        left: 100px;
        background:blue;
    }
    100%{
        left: 0px;
        background: #fff;
    }
}
.dot-1{
    animation-delay: .1s;
}
.dot-2{
    animation-delay: .101s;
}
.dot-3{
    animation-delay: .102s;
}
.dot-3{
    animation-delay: .103s;
}


.loader {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    border: 10px solid orange;
    border-top-color: #002147;
    box-sizing: border-box;
    background: transparent;
    animation: loading 1s linear infinite;
  }
  
  @keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    0% {
      transform: rotate(360deg);
    }
  }
  
/* Preloader end */


/* Navbar part Start */
#navbar.sticky{
    position: fixed;
    background: #002147;
    animation-name: sticky;
    animation-delay: 0;
    animation-duration: 1s;
    animation-timing-function: linear;
}
@keyframes sticky {
    from{
        top: -100px;
    }
    to{
        top: 0;
    }
}
#navbar {
	border-bottom: 1px solid var(--color-border);
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 999;
	transition: all linear .3s;
	padding: 0;
}
.navbar-brand {
	padding: 0 !important;
	width: 170px;
}
.navbar-nav{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}
.main_menu li{
    position: relative;
}
.main_menu li a {
	color: #acacac;
	font-size: 16px;
	text-transform: uppercase;
	padding: 0 !important;
	position: relative;
    line-height: 70px;
}
.navbar-nav .nav-link.active, .navbar-nav .show > .nav-link {
	color: var(--color-primary);
}
.main_menu li a::after{
    content: "";
    width: 0;
    height: 1px;
    background: var(--color-primary);
    position: absolute;
    left: auto;
    top: 0;
    right: 0;
    transition: .3s;
}
.main_menu li a:hover{
    color: var(--color-primary);
}
.main_menu li a:hover::after{
    width: 100%;
    left: 0;
    right: auto;
}
.main_menu li .dropdown_menu{
    position: absolute;
    min-width: 260px;
    height: auto;
    padding: 12px 5px;
    border-radius: 0 0 5px 5px;
    background: #f5f8fa;
    top: 95%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
}
.main_menu li:hover .dropdown_menu{
    top: 100%;
    visibility: visible;
    opacity: 1;
}
.main_menu li .dropdown_menu li{}
.main_menu li .dropdown_menu li a {
	border-radius: 3px;
	padding: 5px 10px 6px !important;
    line-height: 100%;
    text-transform: capitalize;
}
.main_menu li .dropdown_menu li a:hover {
	background: #002147;
	display: block;
}
.main_menu li .dropdown_menu li a:hover{
    background: #002147;
}
.main_menu li .dropdown_menu li a::after{
    display: none;
}
.main_menu li.with_megamenu{
    position: inherit;
}
.mega_menu{
    width: 1320px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    background: #f5f8fa;
    padding: 15px 10px;
    border-radius: 0 0 10px 10px;
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
    top: 95%;
}
.main_menu li.with_megamenu:hover .mega_menu {
	top: calc(100% + 1px);
	opacity: 1;
	visibility: visible;
}
.mega_menu .m-menu_item{
    padding: 30px;
    width: 33.33%;
    border-right:1px solid #00000024;
}
.mega_menu .m-menu_item:last-child{
    border: none;
}
.mega_menu .m-menu_item li a{
    line-height: 2;
    text-transform: capitalize;
}


.header_btn{
    display: flex;
    justify-content: space-between;
}
.nav_btn a{
    line-height: 36px;
    padding: 0px 20px;
    border-radius: 30px;
    background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%) 95%/200% 100%;
    color: #fff;
    font-size: 18px;
}

.mode{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
/* Mobile menu start ==================*/
.mobile_header_btn{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}
.mobile_bars{
    margin-left: 15px;
    width: 40px;
    height: 40px;
    background: var(--color-secondary);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.mobile_bars i{
    color: var(--color-white);
}
#mobile_menu_overlay{
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.775);
    opacity: 0;
    visibility: hidden;
    transition: all linear .3s;
}
#mobile_menu_overlay.show{
    left: 0;
    opacity: 1;
    visibility: visible;
}
#mobile_menu_overlay .mobile_menu{
    width: 320px;
    height: 100vh;
    padding: 15px 20px;
    position: fixed;
    left: -102%;
    top: 0;
    background: #fff;
    transition: all linear .3s;
}
#mobile_menu_overlay.show .mobile_menu{
    left: 0;
}
#mobile_menu_overlay .mobile_menu .sidemenu_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding-bottom: 15px;
}
#mobile_menu_overlay .mobile_menu .sidemenu_header .logo{
    width: 120px;
}
#mobile_menu_overlay .mobile_menu .sidemenu_header .close_btn{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #d8d8d8;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#mobile_menu_overlay .mobile_menu .sidemenu_header .close_btn svg{
    color: #181818;
}
#mobile_menu_overlay .mobile_menu #myTab{
    display: block;
}
#mobile_menu_overlay .mobile_menu #myTab li a{
    display: block;
    color: #65676b;
    
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
	border-bottom: 1px solid rgba(0, 0, 0, 0.14);
}
.mobile_menu .tab-pane ul{
    margin-left: 10px;
}
.mobile_menu .tab-pane.fade{
    display: none;
}
.mobile_menu .tab-pane.fade.active.show{
    display: block;
}
#navbar li span {
	background: var(--bg-linear);
	padding: 5px 10px;
	font-size: 11px;
	color: #fff;
	border-radius: 15px;
    margin-left: 5px;
}
/* Mobile menu end ==================*/
/* Navbar part End */

/* Bannner part start */
#banner{
    background: url(../images/bg-image-3.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
#banner .overlay{
    background: rgba(0, 0, 0, 0.7);
    padding-top: 289px;
    padding-bottom: 210px;
}
.banner_text{
    color: #fff;
}
.banner_text h2{
    font-family: var(--font-primary);
    font-size: 18px;
    letter-spacing: 0.5px;
    display: block;
    margin-bottom: 18px;
    color: var(--color-light);
}
.banner_text h1{
    font-size: 75px;
    font-weight: bold;
    font-family: var(--font-primary);
    margin-bottom: 25px;
    display: inline-block;
    color: var(--color-light);
}
.banner_text p{
    font-family: var(--font-primary);
    padding: 0 22%;
    font-size: 25px;
    line-height: 1.7;
    margin-bottom: 40px;
    color: var(--color-body);
}
.ban_btn a{
    padding: 25px 47px;
    border-radius: 50px;
    background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%) 95%/200% 100%;
    color: #fff;
    font-size: 18px;
    border: 2px solid var(--color-border);
    margin: 0 10px;
    transition: .3s;
}
.ban_btn a:first-child{
    border: 2px solid transparent;
}
.ban_btn a:last-child{
    background: transparent;
}
.ban_btn a:hover{
    background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%) 95%/200% 100%;
}
/* Bannner part End */

/* background_style start */
.background_style .left{
    width: 500px;
    height: 500px;
    position: fixed;
    left: -200px;
    top: 40%;
    background-image: linear-gradient(45deg, var(--color-primary), var(--color-light-green));
    opacity: 0.25;
    filter: blur(200px);
    z-index: -1;
}
.background_style .right{
    width: 500px;
    height: 500px;
    position: fixed;
    right: -200px;
    top: 30%;
    background-image: linear-gradient(45deg, var(--color-secondary), var(--color-tertiary));
    filter: blur(91px);
    opacity: .25;
    z-index: -1;
}
/* background_style end */

/* Service part start */
#service{
    padding: 100px 0;
}
.service_item{
    text-align: center;
    padding: 20px;
    padding-bottom: 0;
    transition: all linear .3s;
}
.service_item .icon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background: #059bff18;
    display: flex;
    align-items: center;
    justify-content: center;
}
.col-lg-4:nth-child(2) .service_item .icon{
    background-color: #fb53431a;
}
.col-lg-4:nth-child(3) .service_item .icon{
    background-color: #6549d51f;
}
.service_item .icon{
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border-radius: 50%;
    background: #059bff2a;
    display: flex;
    align-items: center;
    justify-content: center;
}
.service_item .icon svg{
    stroke: red;
    width: 40px;
    height: 40px;
}
.service_item h4{
    padding-top: 30px;
}
.service_item a{
    font-size: var(--h4);
    line-height: 1.25;
    font-weight: 600;
    color: var(--color-border-color-light-green-darker);
    transition: .3s;
}
.service_item:hover{
    transform: translateY(-10px);
}
.service_item:hover h4 a{
    color: var(--color-primary);
}
svg.feather.feather-map{
    stroke:var(--color-primary);
}
svg.feather.feather-map{
    stroke:var(--color-secondary);
}
svg.feather.feather-cast{
    stroke:var(--color-tertiary);
}

/* Service part End */



/* Portfolio part start */
#portfolio{
    padding: 100px 0;
    position: relative;
}
.buttons{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}
.buttons button{
    margin: 0 10px;
    color: var(--color-gray);
    font-size: 18px;
    text-transform: capitalize;
    background: transparent;
    transition: .3s;
}
.buttons button.active{
    background: var(--color-primary);
    color: var(--color-light);
}
.buttons button:hover{
    background: var(--color-primary);
    color: var(--color-light);
}
.port_item{
    margin-bottom: 35px;
}
.port_item .image{
    border-radius: 10px;
    overflow: hidden;
    transition: all linear 1s;
}
.port_item .image img{
    transition: 2s;
}
.port_item:hover img{
    transform: scale(1.2) rotate(2deg);
}
.port_item .text h5{
    padding-top: 10px;
    color: var(--color-heading);
    font-size: 20px;
}
.port_item .text h6{
    font-size: 16px;
    font-weight: 400;
    color: var(--color-gray);
}
.loadmore{
    text-align: center;
    padding-top: 30px;
}

/* Portfolio part End */



/* Working part start */
#working{
    padding: 100px;
}
#working .section_heading{
    padding-bottom: 30px;
}
.working_info p{
    font-size: 16px;
    font-weight: 400;
    color: #65676b;
}
.working_image{
    overflow: hidden;
    border-radius: 10px;
}
.bg_gray{
    margin-bottom: 50px;
    border-radius: 10px;
    padding: 50px;
    background: #F5F8FA;
}

.bg_gray:last-child{
    margin-bottom: 0;
}
.working_body{
    padding-left: 90px;
    position: relative;
}
.working_body .line_top_bottom{
    height: 100%;
    width: 3px;
    background: rgba(196, 196, 196, 0.22);
    position: absolute;
    left: 0;
    top: 0;
    bottom: auto;
}
.carcle{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: linear-gradient(180deg, var(--color-primary-light), var(--color-primary));
    position: absolute;
    left: 50%;
    transform: translateX(-54%);
    outline: 3px solid #ebebeb;
    z-index: 100;
}
.carcle::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    animation: wave 2.2s cubic-bezier(0.26, 1.04, 0.54, 1) infinite;
}
.carcle-1{
    top: 24%;
}
.carcle-2{
    top: 72%;
}

@keyframes wave {
    0% {
      box-shadow: 0 0 0 0 transparent;
    }
    70% {
        box-shadow: 0 0 0 20px #715fe4bb;
    }
    100% {
        box-shadow: 0 0 0 30px #6550ecbb;
    }
    100% {
        box-shadow: 0 0 0 0 #6550ecbb;
        opacity: 0;
    }
  }
/* Working part End */



/* Video part start */
#video{
    padding-bottom: 100px;
}
.video_container{
    background: url(../images/video-bg.jpg) no-repeat center/cover;
    border-radius: 10px;
    overflow: hidden;
}
.video_container .overlay{
    padding-top: 300px;
    padding-bottom: 100px;
    background: rgba(0, 33, 71, 0.829);
    padding-left: 50px;
    padding-right: 50px;
}
.video_container .overlay .play_btn{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%) 95%/200% 100%;
}
.video_container .overlay .play_btn svg{
    width: 40px;
    height: 40px;
    margin-left: 9px;
    color: #fff;
}
.video_container .overlay h3{
    margin-top: 15px;
    margin-bottom: 0;
    font-size: 30px;
    letter-spacing: 0.5px;
    line-height: 1.4;
    color: var(--color-white);
    max-width: 550px;
}
#player{
    width: 50% !important;
    height: 50% !important;
}
/* Video part End */



/* feedback part start */
#feedback{
    padding: 100px 0;
}
.feedback_main{
    padding: 0 90px;
    position: relative;
}
/* feedback part End */



/* Clients part start */
.client_image{
    max-width: 300px;
    max-height: 300px;
    margin-left: auto;
    background: linear-gradient(95deg, var(--color-primary) 15%, var(--color-tertiary) 45%, var(--color-pink) 75%, var(--color-secondary) 100%) 98%/200% 100%;
    border-radius: 100%;
    padding: 10px;
    overflow: hidden;
}
.client_image img{
    border-radius: 50%;
}
.slick-dots{
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
}
.slick-dots li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #002147;
    cursor: pointer;
}
.slick-dots li.slick-active{
    background: transparent;
    outline: 2px solid #002147;
}
.slick-dots li button{
    display: none;
}
.prev{
    background: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #d8d8d8;
    background: #059DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.next{
    background: transparent;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid #d8d8d8;
    background: #059DFF;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
}
.next img{
    filter: brightness(0);
}

/* Clients part End */



/* News part start */
#news{
    padding: 100px 0;
}
.news_item{
    margin-top: 30px;
}
.news_item .image{
    border-radius: 10px;
    overflow: hidden;
}
.news_item .text{
    padding-top: 20px;
}
.news_item .text b{
    color: #222 !important;
    font-size: 14px;
}
.news_item .text h4 a{
    padding-right: 50px;
    font-size: 20px;
    line-height: 1.5;
    color: var(--color-heading);
}
/* News part End */



/* purchase part start */
#purchase{
    padding: 100px 0;
}
.purchase_item{
    padding: 90px;
    background: #f5f8fa;
    border-radius: 16px;
}
/* purchase part End */


/* Footer part start */
#footer{
    background: #f5f8fa;
    padding: 100px;
}
.footer_item .logo{
    width: 158px;
}
.footer_item .inner_item{
    padding-bottom: 20px;
}
.footer_item .inner_item input{
    border: 2px solid #00000024;
    background: transparent;
    padding: 10px;
    border-radius: 5px;
}
.footer_item .inner_item button{
    padding: 10px 15px;
}

/* Footer part End */